web/wsdl/DigitizingServiceNuevo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://publicar.com/Production.DocumentManagement/DigitizingService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://publicar.com/Production.DocumentManagement/DigitizingService" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://publicar.com/Production/Digitizing/Services/1.1/task" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://schemas.datacontract.org/2004/07/Publicar.Production.Digitizing" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://publicar.com/Production/Digitizing/Services/1.1/task">
            <s:element name="GetCustomerDetailByAccountId">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="accountId" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetCustomerDetailByAccountIdResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="GetCustomerDetailByAccountIdResult" nillable="true" type="s1:Customer" xmlns:q2="http://schemas.datacontract.org/2004/07/Publicar.Production.Digitizing"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetDataPdfBarCode">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="code" nillable="true" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetDataPdfBarCodeResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="GetDataPdfBarCodeResult" nillable="true" type="s1:BarCode" xmlns:q3="http://schemas.datacontract.org/2004/07/Publicar.Production.Digitizing"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetDataPngBarCode">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="CodBar" nillable="true" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetDataPngBarCodeResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="GetDataPngBarCodeResult" nillable="true" type="s1:BarCode" xmlns:q1="http://schemas.datacontract.org/2004/07/Publicar.Production.Digitizing"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetDataPngCode128">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="CodBar" nillable="true" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetDataPngCode128Response">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="GetDataPngCode128Result" nillable="true" type="s1:BarCode" xmlns:q4="http://schemas.datacontract.org/2004/07/Publicar.Production.Digitizing"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
        <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Publicar.Production.Digitizing" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://schemas.datacontract.org/2004/07/Publicar.Production.Digitizing" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://publicar.com/Production/Digitizing/Services/1.1/task">
            <s:complexType name="Customer">
                <s:sequence>
                    <s:element minOccurs="0" name="BrandParty" nillable="true" type="s1:ArrayOfBrandParty"/>
                    <s:element minOccurs="0" name="CustomerAccountId" type="s:int"/>
                    <s:element minOccurs="0" name="OrganizationName" nillable="true" type="s:string"/>
                    <s:element minOccurs="0" name="Telephones" nillable="true" type="s2:ArrayOfint" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfBrandParty">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="BrandParty" nillable="true" type="s1:BrandParty"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BrandParty">
                <s:sequence>
                    <s:element minOccurs="0" name="BrandFirstName" nillable="true" type="s:string"/>
                    <s:element minOccurs="0" name="BrandLastName" nillable="true" type="s:string"/>
                    <s:element minOccurs="0" name="BrandMiddleName" nillable="true" type="s:string"/>
                    <s:element minOccurs="0" name="BrandPartyId" type="s:int"/>
                    <s:element minOccurs="0" name="BrandSecondLastName" nillable="true" type="s:string"/>
                    <s:element minOccurs="0" name="BrandUnifiedName" nillable="true" type="s:string"/>
                    <s:element minOccurs="0" name="DataCreate" type="s:dateTime"/>
                    <s:element minOccurs="0" name="DataModify" type="s:dateTime"/>
                    <s:element minOccurs="0" name="PartyId" type="s:int"/>
                    <s:element minOccurs="0" name="UserModify" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="BarCode">
                <s:sequence>
                    <s:element minOccurs="0" name="BarCodeString" nillable="true" type="s:string"/>
                    <s:element minOccurs="0" name="ImageUrl" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
        <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://schemas.datacontract.org/2004/07/Publicar.Production.Digitizing" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://publicar.com/Production/Digitizing/Services/1.1/task">
            <s:complexType name="ArrayOfint">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="GetCustomerDetailByAccountIdSoapIn">
        <wsdl:part name="GetCustomerDetailByAccountIdRequestPart0" element="q1:GetCustomerDetailByAccountId" xmlns:q1="http://publicar.com/Production/Digitizing/Services/1.1/task"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerDetailByAccountIdSoapOut">
        <wsdl:part name="GetCustomerDetailByAccountIdResponseRequestPart0" element="q2:GetCustomerDetailByAccountIdResponse" xmlns:q2="http://publicar.com/Production/Digitizing/Services/1.1/task"/>
    </wsdl:message>
    <wsdl:message name="GetDataPdfBarCodeSoapIn">
        <wsdl:part name="GetDataPdfBarCodeRequestPart0" element="q3:GetDataPdfBarCode" xmlns:q3="http://publicar.com/Production/Digitizing/Services/1.1/task"/>
    </wsdl:message>
    <wsdl:message name="GetDataPdfBarCodeSoapOut">
        <wsdl:part name="GetDataPdfBarCodeResponseRequestPart0" element="q4:GetDataPdfBarCodeResponse" xmlns:q4="http://publicar.com/Production/Digitizing/Services/1.1/task"/>
    </wsdl:message>
    <wsdl:message name="GetDataPngBarCodeSoapIn">
        <wsdl:part name="GetDataPngBarCodeRequestPart0" element="q5:GetDataPngBarCode" xmlns:q5="http://publicar.com/Production/Digitizing/Services/1.1/task"/>
    </wsdl:message>
    <wsdl:message name="GetDataPngBarCodeSoapOut">
        <wsdl:part name="GetDataPngBarCodeResponseRequestPart0" element="q6:GetDataPngBarCodeResponse" xmlns:q6="http://publicar.com/Production/Digitizing/Services/1.1/task"/>
    </wsdl:message>
    <wsdl:message name="GetDataPngCode128SoapIn">
        <wsdl:part name="GetDataPngCode128RequestPart0" element="q7:GetDataPngCode128" xmlns:q7="http://publicar.com/Production/Digitizing/Services/1.1/task"/>
    </wsdl:message>
    <wsdl:message name="GetDataPngCode128SoapOut">
        <wsdl:part name="GetDataPngCode128ResponseRequestPart0" element="q8:GetDataPngCode128Response" xmlns:q8="http://publicar.com/Production/Digitizing/Services/1.1/task"/>
    </wsdl:message>
    <wsdl:portType name="Axentria_DigitizingService">
        <wsdl:operation name="GetCustomerDetailByAccountId">
            <wsdl:input message="tns:GetCustomerDetailByAccountIdSoapIn"/>
            <wsdl:output message="tns:GetCustomerDetailByAccountIdSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetDataPdfBarCode">
            <wsdl:input message="tns:GetDataPdfBarCodeSoapIn"/>
            <wsdl:output message="tns:GetDataPdfBarCodeSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetDataPngBarCode">
            <wsdl:input message="tns:GetDataPngBarCodeSoapIn"/>
            <wsdl:output message="tns:GetDataPngBarCodeSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetDataPngCode128">
            <wsdl:input message="tns:GetDataPngCode128SoapIn"/>
            <wsdl:output message="tns:GetDataPngCode128SoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_Axentria_DigitizingService" type="tns:Axentria_DigitizingService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetCustomerDetailByAccountId">
            <soap:operation soapAction="http://publicar.com/Production/Digitizing/Services/1.1/task/IProductionDigitizingService/GetCustomerDetailByAccountId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDataPdfBarCode">
            <soap:operation soapAction="http://publicar.com/Production/Digitizing/Services/1.1/task/IProductionDigitizingService/GetDataPdfBarCode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDataPngBarCode">
            <soap:operation soapAction="http://publicar.com/Production/Digitizing/Services/1.1/task/IProductionDigitizingService/GetDataPngBarCode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDataPngCode128">
            <soap:operation soapAction="http://publicar.com/Production/Digitizing/Services/1.1/task/IProductionDigitizingService/GetDataPngCode128" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Axentria_DigitizingService">
        <wsdl:port name="BasicHttpBinding_Axentria_DigitizingService" binding="tns:BasicHttpBinding_Axentria_DigitizingService">
           <!--<soap:address location="http://pubevlmia542.carvajal.com.co/Production.DocumentManagement/Axentria/1.1/BasicHttp/DigitizingService"/> -->
               <soap:address location="http://192.168.183.204/Production.DocumementManagement/Axentria/1.1/Publicar.Production.Digitizing.DataMatrix.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>


